.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #ff385c;*/
    padding: 10px 20px;
    color: white;
  }
  
  .logo img {
    height: 100px; /* Adjust height as needed */
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    margin: 0 15px;
  }
  
  .nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .profile-icon img {
    height: 70px; /* Adjust height as needed */
    border-radius: 50%; /* Makes the profile icon circular */
  }